<h1>Hello World</h1>

<ul> This is setup with Bootstrap 5.0.1 and Rails 6.  A starting app template.</ul>
<ul> 1 route/controller/view of "Contract"</ul>
<ul> run rails destroy controller Contracts to start fresh <ul>
<ul> delete Root path "contracts#index" </ul>
